In [13]:
import pandas as pd

In [16]:
filename = 'nifty.csv'

In [10]:
data = pd.read_csv(filename)

In [17]:
data.tail()

             Date     Open     High      Low    Close
2969  07 Apr 2008  4631.35  4798.55  4628.80  4761.20
2970  04 Apr 2008  4766.70  4791.70  4632.70  4647.00
2971  03 Apr 2008  4753.90  4833.25  4738.20  4771.60
2972  02 Apr 2008  4741.40  4916.75  4741.40  4754.20
2973  01 Apr 2008  4735.65  4800.75  4628.75  4739.55

In [18]:
data.head()

          Date     Open     High      Low    Close
0  09 Apr 2020  8973.05  9128.35  8904.55  9111.90
1  08 Apr 2020  8688.90  9131.70  8653.90  8748.75
2  07 Apr 2020  8446.30  8819.40  8360.95  8792.20
3  03 Apr 2020  8356.55  8356.55  8055.80  8083.80
4  01 Apr 2020  8584.10  8588.10  8198.35  8253.80